{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h3 class="text-center">{{ title }}</h3>
    <table class="table table-striped">
        <tr class="warning">
            <th class="text-center">#</th>
            <th class="text-center">Изображение</th>
            <th class="text-center">Название категории</th>
            <th class="text-center">Изделий в категории</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td class="text-center num">{{ forloop.counter }}</td>
                <td class="text-center"><a href="{{ category.get_client_url }}"><img src="{{ category.image|thumbnail_url:'cat_thumb' }}"
                                                                 alt="{{ category.title }}"
                ></a></td>
                <td class="text-center"><a href="{{ category.get_client_url }}">{{ category.name }}</a></td>
                <td class="text-center">{{ category.product_set.count }}</td>
            </tr>
        {% endfor %}
    </table>
    <!-- Small modal -->
    <div id="confirm-delete" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <p>Категория не будет удалена</p>
                        <ul>
                            <li>если в ней есть изделия</li>
                            <li>при нажатии Отмена</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Удалить</button>
                    <button type="button" data-dismiss="modal" class="btn">Отмена</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jq %}
    {% include 'staff/categories_js.html' %}
{% endblock jq %}