<script>
    function new_enumerate() {
        $('.table').each(function () {
            $('.num', this).each(function (i) {
                $(this).html(i + 1);
            })
        });
    }

    $(document).ready(function () {
        $('.table').on('click', '.remove_from_cart', function (e) {
            e.preventDefault();
            slug = $(this).attr('data-slug');
            data = {
                slug: slug
            };
            $.ajax({
                type: "GET",
                url: '{% url "remove_from_cart_js" %}',
                data: data,
                success: function (data) {
                    $("#cart_count").html(data.total_cost.toFixed(2) + ' руб.').addClass("badge").removeClass("glyphicon glyphicon-shopping-cart");
                    $(".cart-item-" + slug).addClass("danger").hide(300, function () {
                        this.remove(); new_enumerate();
                    });

                    $(".total_cost").html(data.total_cost.toFixed(2) + " руб.");
                    if (data.total_cost == 0) {
                        $('h3').html('Ваша корзина пуста');
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $('.table').on('click', '.cart-item-qty', function () {
            qty = $(this).val();
            slug = $(this).attr('data-id');
            data = {
                qty: qty,
                slug: slug,
            };
            $.ajax({
                type: "GET",
                url: "{% url 'change_item_qty' %}",
                data: data,
                success: function (data) {
                    $("#cart_count").hide(100).html(data.total_cost.toFixed(2) + ' руб.').show(100);
                    $(".item-cost-" + slug).fadeOut(200).html(data.item_cost.toFixed(2) + ' руб.').fadeIn(100);
                    $(".total_cost").fadeOut(200).html(data.total_cost.toFixed(2) + " руб.").fadeIn(100);
                }
            })
        })
    });

    //Живой поиск
    $('.who').bind("change keyup input click", function () {
        if (this.value.length >= 2) {
            data = {
                q: this.value,
            };
            $.ajax({
                type: 'GET',
                url: "{% url "client_search_js" %}", //Путь к обработчику
                data: data,
                success: function (data) {
                    $(".search_result").html(data).slideDown(400); //Выводим полученые данные в списке
                }
            })
        }
    });

    //Убираем фокус с input
    $(".search_result").hover(function () {
        $(".who").blur();
    })

    //При выборе результата поиска, прячем список и заносим выбранный результат таблицу
    $(".search_result").on("click", "li", function () {
        $(".search_result").slideUp(200);
        selected = $(this).text();
        slug = $(this).attr('data-slug');
        price = $(this).attr('data-price');
        title = $(this).attr('data-title');
        data = {
            slug: slug,
        };
        $.ajax({
            type: "GET",
            url: '{% url "add_to_cart_js" %}',
            data: data,
            success: function (data) {
                $("#cart_count").toggle(100).html(data.total_cost.toFixed(2) + ' руб.').toggle(100).addClass("badge")
                    .removeClass("glyphicon glyphicon-shopping-cart");
                $('[data-slug=' + slug + ']').toggle(100).toggle(100);
                $(".total_cost").fadeOut(200).html(data.total_cost.toFixed(2) + " руб.").fadeIn(100);
            }
        });
        $("#search-tr").before(
            '<tr class="cart-item-' + slug + '" data-id="' + slug + '">' +
            '<td class="text-center num">*</td>' +
            '<td>' + title + '</td>' +
            '<td class="text-center">' +
            '<input type="number" min="1" class="cart-item-qty" data-id="' + slug + '" style="width: 60px" value="1">' +
            '</td>' +
            '<td class="text-center">' + price + ' руб.</td>' +
            '<td class="text-center item-cost-' + slug + '">' + price + ' руб.</td>' +
            '<td class="text-center"><a href="#del' + slug + '" class="remove_from_cart" data-slug="' + slug + '">' +
            '<button class="btn btn-warning">Убрать из корзины</button></a></td></tr>'); new_enumerate();

        $(".who").val(''); // .attr('disabled', 'disabled'); //деактивируем input, если нужно
        $('h3').html('Ваша корзина');
    })

</script>