<li><a class="btn acc" href="{% url 'account' %}">
    <i class="glyphicon glyphicon-home"></i><strong class="p-lr5">{{ request.user }}</strong></a>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
        <button class="btn btn-success"><i class="glyphicon glyphicon-duplicate"></i> Заказы <span class="caret"></span></button>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'client:order_new' %}"><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;&nbsp;&nbsp;&nbsp;Новый заказ</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'client:orders' %}">Все заказы</a></li>
        <li><a href="{% url 'client:orders_not_sent' %}">Не отправленные заказы</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'client:orders_sent' %}">Отправленные заказы</a></li>
        <li><a href="{% url 'client:orders_pay' %}">Оплаченные заказы</a></li>
        {#                        <li><a href="#">Separated link</a></li>#}
        {#                        <li role="separator" class="divider"></li>#}

    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
        <button class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i> Каталог <span class="caret"></span></button>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'client:categories' %}"><i class="glyphicon glyphicon-tasks"></i>&nbsp; Категории</a></li>
        <li role="separator" class="divider">Категории</li>
        <li><a href="{% url 'client:products_all' %}"><i class="glyphicon glyphicon-equalizer"></i>&nbsp; Изделия</a></li>
        {#                                <li><a href="{% url 'client:search' %}"><i class="glyphicon glyphicon-search"></i>&nbsp; Поиск</a></li>#}
    </ul>
</li>
<li>
    <a href="{% url 'client:profile' %}">
        <button class="btn btn-warning"><i class="glyphicon glyphicon-user"></i> Профиль</button>
    </a>
</li>

<li><a href="{% url 'news:list_inside' %}"><i class="glyphicon glyphicon-tasks"></i>&nbsp; Новости</a></li>

<li>
    <a href="{% url 'retail:account' %}">
        <i class="glyphicon glyphicon-shopping-cart"></i> <span class="h-span">В розницу</span>
    </a>
</li>