<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="button_close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Смена статуса заказа № {{ order.id }}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    {% for value, text in order.get_status_list %}
                        <div class="radio">
                            <input id="radio-{{ value }}" data-status="{{ value }}" data-id="{{ order.id }}" name="radio"
                                   type="radio"
                                   class="radio-status" {% if order.status == value %}checked{% endif %}>
                            <label for="radio-{{ value }}" class="radio-label">{{ text }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>