{% extends 'base.html' %}{% load static %}
{% block css %}
    <link href='{% static "css/progressbar.min.css" %}' rel="stylesheet">
{% endblock css %}
{% block content %}
    <h3 class="text-center">Заказ № {{ order.id }} </h3>

    <div class="panel panel-warning">
        <div class="panel-heading">{{ title }}&nbsp; &nbsp;
            <span class="color-darkred"><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;(заказ пока не выполняется, т.к. не отправлен)</span>
            <a href="{% url 'client:order_vendor' order.id %}" class="pull-right"><i class="glyphicon glyphicon-compressed color-yellow"
                                                                                     title="В карточку работы с поставщиком"></i></a>
        </div>
        <div class="panel-body">
            <div class="container-fluid col-lg-12">
                <div class="row">
                    <div class="col-md-4"><strong>Клиент:</strong></div>
                    <div class="col-md-8">{{ order.full_name_buyer }}
                        :: <i class="glyphicon glyphicon-phone" style="color:#1b6d85"></i> <span
                            class="text-info">{{ order.phone_buyer }}</span></div>
                    <a style="float: right !important;" href="{% url 'client:order_edit_info' id_order=order.id %}"
                       title2="Информацию о вашем клиенте или добавить комментарий к заказу">
                        <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-edit"></i>&nbsp; Изменить</button>
                    </a>
                </div>
                <div class="row offset5">
                    <div class="col-md-4"><strong>Дата заказа:</strong></div>
                    <div class="col-md-8">{{ order.date_created }}</div>
                </div>
                {% if order.address_buyer %}
                    <div class="row offset5">
                        <div class="col-md-4"><strong>Адрес клиента:</strong></div>
                        <div class="col-md-8">{{ order.address_buyer }}</div>
                    </div>
                {% endif %}
                {% if order.comments %}
                    <div class="row offset5">
                        <div class="col-md-4"><strong>Комментарии к заказу:</strong></div>
                        <div class="col-md-8">{{ order.comments }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not order.orderitem_set %}
        <h4 class="text-center">Список изделий отсутствует</h4>
    {% else %}
        <h4 class="text-center pull-left">Список изделий</h4>
        <span class="btn btn-info pull-right print-blank" title="Создать и напечатать бланк для заказчика"
                  data-toggle="tooltip" data-task="{% url "print:task_order_client" order.id %}"
                  data-url="{% url 'print:pdf_order_client' order.id %}" data-title-modal="Бланк для клиента | Заказ № {{ order.id }}">
                <i class="glyphicon glyphicon-print"></i></span>
    {% endif %}
    <table class="table table-striped">
        <tr class="warning">
            <th class="text-center">#</th>
            <th class="text-center">Изделие</th>
            <th class="text-center">Количество</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Стоимость</th>
            <th class="text-center">!</th>
        </tr>
        {% for item in order_items %}
            <tr class="order-item-{{ item.product.id }}" data-id="{{ item.product.id }}">
                <td class="text-center num">{{ forloop.counter }}.</td>
                <td class="text-left">{{ item.product.title }}</td>
                <td class="text-center"><input type="number" min="1" class="order-item-qty" data-id="{{ item.product.id }}"
                                               data-price="{{ item.product.price }}" autocomplete="off" style="width: 60px"
                                               value="{{ item.qty }}"></td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center item-cost-{{ item.product.id }}">{{ item.get_cost }}</td>
                <td class="text-center"><a href="#del{{ item.product.id }}" title2="Удалить из заказа!" data-id="{{ item.product.id }}"
                                           class="remove_from_cart">
                    <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
                </a></td>
            </tr>
        {% endfor %}
        <tr id="search-tr">
            <td colspan="6">
                <input type="text" name="q" id="search-box" autocomplete="off" placeholder="Для поиска изделия вводите здесь значения"
                       style="width: 100%" class="who">
                <ul class="search_result list-group"></ul>
            </td>
        </tr>
        <tr class="danger">
            <td colspan="4"></td>
            <td class="text-center"><strong class="total_cost">{{ order.total_cost }} <i class="glyphicon glyphicon-ruble"></i></strong>
            </td>
            <td></td>
        </tr>
    </table>
    <div class="pull-right"><a href="{% url 'client:orders' %}">
        <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Сохранить</button>
    </a></div>

{% include 'retail/base/modal_for_print.html' %}

{% endblock content %}

{% block jq %}
    {% include 'retail/base/js_for_modal_print.html' %}
    {% include 'client/order_js.html' %}
{% endblock jq %}