{% extends 'base.html' %}{% load static %}
{% block css %}
    <link href='{% static "css/progressbar.min.css" %}' rel="stylesheet">
{% endblock css %}

{% block content %}
    <h3 class="text-center">{{ title }}&nbsp; &nbsp;<small>{% include 'client/order_statuses.html' %}</small>
    </h3>
    <h5 class="text-center bg-info padd5"><i class="glyphicon glyphicon-compressed color-yellow"></i> Карточка работы с поставщиком
        <a href="{% url 'client:order_edit' order.id %}" class="pull-right"><i class="glyphicon glyphicon-edit color-gray"
                                                                               title="{% if order.is_sent %}Просмотр заказа{% else %}Редактировать заказ{% endif %}"></i></a>
    </h5>
    <table class="table">
        <tr>
            <th class="text-center">Клиент:</th>
            <td>{{ order.full_name_buyer }}
                :: <i class="glyphicon glyphicon-phone" style="color:#1b6d85"></i> <span class="text-info">{{ order.phone_buyer }}</span>
            </td>
        </tr>
        {% if order.status != 'done' %}
            <tr>
                <th class="text-center">Заказ создан:</th>
                <td>{{ order.date_created }}
                    {% if not order.is_sent %}
                        <a href="#" class="pull-right tt_black" title2="Отправить заказ поставщику" data-toggle="modal"
                           data-target=".modal-order-submit">
                            <button type="button" class="btn btn-danger">
                                <i class="glyphicon glyphicon-ok"></i> Отправить заказ
                            </button>
                        </a></td></tr>
                    {% endif %}
            {% if order.is_sent %}
                <tr>
                    <th class="text-center">Вы отправили заказ:</th>
                    <td>{{ order.date_sent }}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if order.date_payment %}
            <tr>
                <th class="text-center">Дата подтверждения оплаты:</th>
                <td>{{ order.date_payment }}</td>
            </tr>
        {% endif %}
        {% if order.status == 'done' %}
            <tr>
                <th class="text-center">Дата выполнения:</th>
                <td>{{ order.date_done }}</td>
            </tr>
        {% endif %}

        <tr>
            <th class="text-center">Статус заказа:</th>
            <td><span id="status_field">{{ order.get_status_display }}</span></td>
        </tr>
        <tr>
            <th class="text-center">Доставка изделий от производителя:</th>
            <td>{{ order.get_delivery_type_display }}</td>
        </tr>
    </table>
    <h4 class="text-center pull-left">Список изделий</h4>
    <span class="btn btn-info pull-right print-blank" title2="Создать и напечатать бланк для поставщика"
          data-toggle="tooltip" data-task="{% url "print:task_order_vendor" order.id %}"
          data-url="{% url 'print:pdf_order_vendor_stock' order.id %}" data-title-modal="Бланк для поставщика | Заказ № {{ order.id }}">
                <i class="glyphicon glyphicon-print"></i></span>
    <table class="table">
        <tr class="warning">
            <th class="text-center">#</th>
            <th class="text-center">Изделие</th>
            <th class="text-center">Количество</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Стоимость</th>
        </tr>
        {% for details in order_items %}
            <tr>
                <td class="text-center">{{ forloop.counter }}.</td>
                <td>{{ details.product }}</td>
                <td class="text-center">{{ details.qty }}</td>
                <td class="text-center"><span class="tt_yellow" title2="{{ details.price }}">{{ details.get_price_vendor }}</span></td>
                <td class="text-center"><span class="tt_orange" title2="{{ details.get_cost }}">{{ details.get_cost_vendor }}</span></td>
            </tr>
        {% endfor %}
        <tr class="danger">
            <td colspan="4" class="text-right">Общая стоимость:</td>
            <td colspan="2" class="text-center"><span title2="{{ order.total_cost }}">{{ order.get_total_cost_vendor }} <i
                class="glyphicon glyphicon-ruble"></i></span></td>
        </tr>
    </table>

{% include 'retail/base/modal_for_print.html' %}
{% endblock content %}


{% block jq %}
    {% include 'retail/base/js_for_modal_print.html' %}
{% endblock jq %}