<script>
    function new_enumerate() {
        $('.table').each(function () {
            $('.num', this).each(function (i) {
                $(this).html((i + 1) + '.');
            })
        });
    }
    // удаление
    $(document).ready(function () {
        $('.table').on('click', '.remove_from_cart', function (e) {
            e.preventDefault();
            id = $(this).attr('data-id');
            data = {
                id_product: id,
                id_order: {{ order.id }},
            };
            $.ajax({
                type: "GET",
                url: '{% url "client:remove_from_cart" %}',
                data: data,
                success: function (data) {
                    $(".order-item-" + id).addClass("danger").hide(300, function () {
                        this.remove();
                        new_enumerate();
                    });

                    $(".total_cost").html(data.total_cost.toFixed(2) + " <i class=\"glyphicon glyphicon-ruble\"></i>");
                    if (data.total_cost == 0) $('h4').html('Список изделий отсутствует');
                }
            })
        })
    });

    $(document).ready(function () {
        $('.table').on('input', '.order-item-qty', function () {
            qty = $(this).val();
            id = $(this).attr('data-id');
            price = parseFloat($(this).attr('data-price').replace(",", '.'));
            data = {
                qty: qty,
                id_product: id,
                id_order: {{ order.id }},
            };
            $.ajax({
                type: "GET",
                url: "{% url 'client:change_item_qty' %}",
                data: data,
                success: function (data) {
                    $(".item-cost-" + id).fadeOut(200).html((price * qty).toFixed(2)).fadeIn(100);
                    $(".total_cost").fadeOut(200).html(data.total_cost.toFixed(2) + " <i class=\"glyphicon glyphicon-ruble\"></i>").fadeIn(100);
                }
            })
        })
    });

    //Живой поиск
    $('.who').bind("change keyup input click", function () {
        if (this.value.length >= 2) {
            data = {
                q: this.value,
                o: {{ order.id }}
            };
            $.ajax({
                type: 'GET',
                url: "{% url "client:search_js" %}", //Путь к обработчику
                data: data,
                success: function (data) {
                    $(".search_result").html(data).slideDown(400); //Выводим полученые данные в списке
                }
            })
        }
    });

    //Убираем фокус с input
    $(".search_result").hover(function () {
        $(".who").blur();
    });

    //При выборе результата поиска, прячем список и заносим выбранный результат таблицу
    $(".search_result").on("click", "li", function () {
        $(".search_result").slideUp(200);
        selected = $(this).text();
        id = $(this).attr('data-id');
        price = $(this).attr('data-price');
        title = $(this).attr('data-title');
        data = {
            id_order: {{ order.id }},
            id_product: id,
        };
        $.ajax({
            type: "GET",
            url: '{% url "client:add_to_order" %}',
            data: data,
            success: function (data) {
                $("#cart_count").toggle(100).html(data.total_cost.toFixed(2)).toggle(100).addClass("badge")
                    .removeClass("glyphicon glyphicon-shopping-cart");
                $('[data-id=' + id + ']').toggle(100).toggle(100);
                $(".total_cost").fadeOut(200).html(data.total_cost.toFixed(2) + " <i class=\"glyphicon glyphicon-ruble\"></i>").fadeIn(100);
            }
        });
        $("#search-tr").before(
            '<tr class="order-item-' + id + '" data-id="' + id + '">' +
            '<td class="text-center num">*</td>' +
            '<td>' + title + '</td>' +
            '<td class="text-center">' +
            '<input type="number" min="1" class="order-item-qty" data-id="' + id + '" data-price="' + price + '" style="width: 60px" value="1">' +
            '</td>' +
            '<td class="text-center">' + price + '</td>' +
            '<td class="text-center item-cost-' + id + '">' + price + '</td>' +
            '<td class="text-center"><a title2="ВНИМАНИЕ! Удалить из заказа" href="#del' + id + '" class="remove_from_cart" data-id="' + id + '">' +
            '<button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button></a></td></tr>');
        new_enumerate();

        $(".who").val(''); // .attr('disabled', 'disabled'); //деактивируем input, если нужно
        $('h4').html('Список изделий');
    })

</script>