{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Кабинет пользователя <strong>{{ request.user }}</strong></h3>
    <hr>
    <h4 class="text-center">{{ title }}</h4>
    <table class="table table-striped">
        <tr class="warning">
            <th class="text-center">№ заказа</th>
            <th class="text-center">Смотреть и<br>править</th>
            <th class="text-center">Заказчик</th>
            <th class="text-center">Дата заказа</th>
            <th class="text-center">Стоимость</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Заявка <br>поставщику</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td class="text-center">{{ order.id }}</td>
                <td><a href="{% url 'client:order_edit' order.id %}" class="link-icon">
                    {% if order.status == 'done' %}
                        <i class="glyphicon glyphicon-ok color-green" title="Выполнен"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-edit color-gray"
                           title="{% if order.is_sent %}Просмотр заказа{% else %}Редактировать заказ{% endif %}"></i>
                        {% if order.date_payment %}<i class="glyphicon glyphicon-ruble color-darkred" title="Оплата подтверждена"></i>
                        {% else %}
                            {% if order.in_stock %}<i class="glyphicon glyphicon-shopping-cart color-yellow" title="Наличие изделий подтверждено"></i>
                            {% else %}
                                {% if order.is_sent %}
                                    <i class="glyphicon glyphicon-grain" title="Принят поставщиком, стадия контроля наличия"></i>{% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </a>
                </td>

                <td class="text-center">{{ order.full_name_buyer }}</td>
                <td class="text-center">{{ order.date_created|date:"d.m.Y (H:i)" }}</td>
                <td class="text-center">{{ order.total_cost }} <i class="glyphicon glyphicon-ruble"></i></td>
                <td class="text-center">{% if order.is_sent %}{{ order.get_status_display }}{% else %}Наполнение{% endif %}</td>
                <td class="text-center"><a href="{% url 'client:order_vendor' order.id %}" class="link-icon">
                    <i class="glyphicon glyphicon-compressed color-yellow"
                       title="{% if order.is_sent %}Просмотр заказа у постащика{% else %}Отправка заказа поставщику{% endif %}"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {#{% for order in orders %}#}
    <!-- Modal -->
    {#<div class="modal fade bs-example-modal-lg" id="myModal-{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
    {#  <div class="modal-dialog modal-lg" role="document">#}
    {#    <div class="modal-content">#}
    {#      <div class="modal-header" style="border-bottom: 0px">#}
    {#        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
    {#        <h4>Заказ #{{ order.id }} &nbsp;<small class="{% if order.is_sent %}icon-green">#}
    {#         <i class="glyphicon glyphicon-grain"></i>&nbsp;Отправлен#}
    {#            {% else %}icon-gray">#}
    {#            <i class="glyphicon glyphicon-question-sign"></i>&nbsp;(заказ пока не выполняется, т.к. не отправлен)#}
    {#        {% endif %}</small></h4>#}
    {#      </div>#}
    {#      <div class="modal-body">#}
    {#      <table class="table">#}
    {#            <tr><th class="text-center">Клиент:</th><td>#}
    {#                {{ order.full_name_buyer }} :: <span style="color: #f0ad4e">тел.{{ order.phone_buyer }}</span>#}
    {#            </td></tr>#}
    {#            <tr><th class="text-center">Дата заказа:</th><td>{{ order.date_created }}</td></tr>#}
    {#            <tr><th class="text-center">Доставка изделий от производителя:</th><td>{{ order.get_delivery_type_display }}</td></tr>#}
    {#            <tr><th class="text-center">Статус заказа:</th><td>#}
    {#                {% if order.is_sent %}#}
    {#                {{ order.get_status_display }}#}
    {#                {% else %}#}
    {#                <span class="icon-gray">Заказ пока Вами не отправлен</span>#}
    {#                {% endif %}#}
    {#            </td></tr>#}
    {#      </table>#}
    {#        <table class="table">#}
    {#            <tr class="warning">#}
    {#                <th class="text-center">#</th>#}
    {#                <th class="text-center">Изделие</th>#}
    {#                <th class="text-center">Количество</th>#}
    {#                <th class="text-center">Цена</th>#}
    {#                <th class="text-center">Стоимость</th>#}
    {#            </tr>#}
    {#            {% for details in order.orderitem_set.all %}#}
    {#            <tr>#}
    {#                <td class="text-center">{{ forloop.counter }}</td>#}
    {#                <td class="text-center">{{ details.product }}</td>#}
    {#                <td class="text-center">{{ details.qty }}</td>#}
    {#                <td class="text-center">{{ details.price }}</td>#}
    {#                <td class="text-center">{{ details.get_cost }} руб.</td>#}
    {#            </tr>#}
    {#            {% endfor %}#}
    {#            <tr class="danger">#}
    {#                <td colspan="3" class="text-right">Общая стоимость:</td>#}
    {#                <td colspan="2" class="text-center">{{ order.total_cost }} руб.</td>#}
    {#            </tr>#}
    {#        </table>#}
    {#      </div>#}
    {#      <div class="modal-footer">#}
    {#        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>#}
    {#      </div>#}
    {#    </div>#}
    {#  </div>#}
    {#</div>#}
    {#{% endfor %}#}
{% endblock %}
