{% if order.status == 'accepted' and order.in_stock == False %}
    <span class="color-blue"><i class="glyphicon glyphicon-grain"></i>&nbsp;Принят</span>
    <span class="color-darkred">&nbsp;, <i class="glyphicon glyphicon-info-sign"></i>&nbsp;заказ пока не комплектуется, он на стадии контроля
        наличия
    </span>
{% endif %}
{% if order.status == 'accepted' and order.in_stock == True %}
    <span class="color-yellow"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Изделия в наличии, заказ ожидает оплаты</span>
    <span class="color-darkred">&nbsp;, <i class="glyphicon glyphicon-info-sign"></i>&nbsp;изделия зарезервированы на сутки, т.к. заказ не
        оплачен
    </span>
{% endif %}
{% if order.status == 'done' %}
    <span class="color-green"><i class="glyphicon glyphicon-ok"></i>&nbsp;Заказ выполнен. Благодарим за сотрудничество.</span>
{% elif order.date_payment %}
    <span class="color-green"><i class="glyphicon glyphicon-ruble"></i>&nbsp;Заказ оплачен и выполняется</span>
{% endif %}