{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
        <h3 class="text-center">{{ title }}</h3>
        <h4 class="text-center">Заказ №{{ order.id }}</h4>
    <br>
        <div class="col-md-offset-1 col-md-10">
        <div class="media">
            <div class="media-body">
            <form method='POST' action='' class="form-horizontal"> {% csrf_token %}
                {% bootstrap_form order_form layout='horizontal' %}
                {% bootstrap_button 'Сохранить и перейти к формированию заказа' icon="ok" button_type="submit" button_class="btn-success" extra_classes="pull-right" %}
            </form>
            </div>
        </div>
    </div>
{% endblock content %}