{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">{{ title }} &nbsp;{% if order.is_sent %}
        <small class="color-green"><i class="glyphicon glyphicon-grain"></i>&nbsp;Отправлен
    {% else %}
        <small><i class="glyphicon glyphicon-info-sign"></i>&nbsp;(заказ пока не выполняется, т.к. не отправлен)
    {% endif %}</small>
    </h3>
    <h5 class="text-center bg-info padd5"><i class="glyphicon glyphicon-compressed color-yellow"></i> Карточка работы с поставщиком
        <a href="{% url 'client:order_edit' order.id %}" class="pull-right">
            <i class="glyphicon glyphicon-edit color-gray"
               title="{% if order.is_sent %}Просмотр заказа{% else %}Редактировать заказ{% endif %}"></i>
        </a>
    </h5>
    <table class="table">
        <tr>
            <th class="text-center"><strong>Клиент:</strong></th>
            <td>{{ order.full_name_buyer }}
                :: <i class="glyphicon glyphicon-phone" style="color:#1b6d85"></i> <span class="text-info">{{ order.phone_buyer }}</span>
            </td>
        </tr>
        <tr>
            <th class="text-center">Дата заказа:</th>
            <td>{{ order.date_created }}
                {% if not order.is_sent %}
                    <a href="#" class="pull-right tt_black" title2="Отправить заказ поставщику" data-toggle="modal"
                       data-target=".modal-order-submit">
                        <button type="button" class="btn btn-danger">
                            <i class="glyphicon glyphicon-ok"></i> Отправить заказ
                        </button>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% if order.is_sent %}
            <tr>
                <th class="text-center">Доставка изделий от производителя:</th>
                <td>{{ order.get_delivery_type_display }}</td>
            </tr>

            <tr>
                <th class="text-center">Вы отправили заказ:</th>
                <td>{{ order.date_sent }}</td>
            </tr>
            <tr>
                <th class="text-center">Статус заказа:</th>
                <td><span id="status_field">{{ order.get_status_display }}</span></td>
            </tr>
            {% if order.status != 'accepted' and order.status != 'cancel' %}
                <tr>
                    <th class="text-center">Дата оплаты:</th>
                    <td>{{ order.date_payment }}</td>
                </tr>
                {% if order.status == 'done' %}
                    <tr>
                        <th class="text-center">Дата выполнения:</th>
                        <td>{{ order.date_done }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endif %}
    </table>
    <h4 class="text-center">Список изделий</h4>
    <table class="table">
        <tr class="warning">
            <th class="text-center">#</th>
            <th class="text-center">Изделие</th>
            <th class="text-center">Количество</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Стоимость</th>
        </tr>
        {% for details in order_items %}
            <tr>
                <td class="text-center">{{ forloop.counter }}.</td>
                <td>{{ details.product }}</td>
                <td class="text-center">{{ details.qty }}</td>
                <td class="text-center"><span class="tt_yellow" title2="{{ details.price }}">{{ details.get_price_vendor }}</span></td>
                <td class="text-center"><span class="tt_orange" title2="{{ details.get_cost }}">{{ details.get_cost_vendor }}</span></td>
            </tr>
        {% endfor %}
        <tr class="danger">
            <td colspan="4" class="text-right">Общая стоимость:</td>
            <td colspan="2" class="text-center"><span title2="{{ order.total_cost }}">{{ order.get_total_cost_vendor }} <i
                class="glyphicon glyphicon-ruble"></i></span></td>
        </tr>
    </table>

    <!-- Small modal -->
    <div class="modal fade modal-order-submit" tabindex="-1" role="dialog" aria-labelledby="modalOrderSubmit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="button_close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalOrderLabel">Подтверждение заказа #{{ order.id }}</h4>
                </div>
                <div class="modal-body">
                    <blockquote>
                        <p>Нажимая на кнопку ниже, вы должны понимать, что после этого действия заказ поступит к поставщику. Далее будет
                            выполнен контроль
                            наличия, выбранных вами позиций на складе. После чего на вашу электронную почту поступит сообщение о
                            подтверждении.</p>
                        <p>Внимание! При наличии изделий, они резервируются на сутки в ожидании оплаты. Их окончательное резервирование
                            происходит только после поступления средств.</p>
                    </blockquote>
                    <div class="text-center">
                        <form method='POST' action='' class="form-horizontal" autocomplete="off"> {% csrf_token %}
                            <hr>
                            <fieldset>
                                <legend>Выберите способ оплаты</legend>
                                {% for value, text in order.get_pay_method_list %}
                                    <div class="radio">
                                        <input autocomplete="off" id="radio-{{ value }}" data-status="{{ value }}" data-id="{{ order.id }}"
                                               name="pay_method"
                                               type="radio"
                                               value="{{ value }}"
                                               class="radio-status">
                                        <label for="radio-{{ value }}" class="radio-label">{{ text }}</label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                            <hr>
                            <fieldset>
                                <legend>Выберите доставку</legend>
                                {% for value, text in order.get_delivery_type_list %}
                                    <div class="radio">
                                        <input autocomplete="off" id="radio-{{ value }}" data-status="{{ value }}" data-id="{{ order.id }}"
                                               name="delivery_type"
                                               type="radio"
                                               value="{{ value }}"
                                               class="radio-status">
                                        <label for="radio-{{ value }}" class="radio-label">{{ text }}</label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                            <hr>
                            <p></p>
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-ok"></i> Отправить заказ
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
