{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="page-header">
        <h1>{{ product.title }}</h1>
        <div class="row">
            <div class="col-xs-4 text-center"><img src="{{ product.image|thumbnail_url:'prod_thumb' }}" alt="{{ product.title }}"></div>
            <div class="col-xs-8">
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Категория</th>
                        <td>{{ product.category.name }}</td>
                    </tr>
                    <tr>
                        <th>Производитель</th>
                        <td>{{ product.brand.name }}</td>
                    </tr>
                    <tr>
                        <th>Описание</th>
                        <td><p>{{ product.description|linebreaks }}</p></td>
                    </tr>
                    <tr>
                        <th>Цена</th>
                        <td><strong>{{ product.price }}</strong> руб.</td>
                    </tr>
                    <tr>
                        <th>Цена со скидкой {{ request.user.profile.discount }}%</th>
                        <td><strong>{{ product.price_furniture }}</strong> руб.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-8"></div>
    </div>
    <!-- Small modal -->
{% endblock content %}

{#{% block jq %}#}
{#    {% include 'client/js_add_to_cart.html' %}#}
{#{% endblock jq %}#}