{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    {% if products %}
        <h3 class="text-center">{{ title }}<a
            class="pull-right" target="_blank" href='{% url 'print:price' %}'>
            <button class="btn btn-info">
                <i class="glyphicon glyphicon-print"></i></button>
        </a></h3>
        <table class="table table-striped">
            <tr class="warning">
                <th class="text-center">#</th>
                <th>Изображение</th>
                <th>Название изделия</th>
                <th>Высота</th>
                <th>Ширина</th>
                <th>Категория</th>
                <th class="text-center">Стоимость</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td class="text-center num">{{ forloop.counter }}</td>
                    <td class="text-center"><a href="{{ product.get_client_url }}"><img src="{{ product.image|thumbnail_url:'cat_thumb' }}"
                                                                                        alt="{{ product.title }}"></a></td>
                    <td><a href="{{ product.get_client_url }}">{{ product.title }}</a></td>
                    <td>{{ product.height }}</td>
                    <td>{{ product.width }}</td>
                    <td>{{ product.category.name }}</td>
                    <td class="text-center">{{ product.price }} <i class="glyphicon glyphicon-ruble"></i></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3 class="text-center">В настоящий момент, в категории <strong>{{ category.name }}</strong>, изделия отсутсвуют</h3>
    {% endif %}
{% endblock %}
{% block jq %}
    {##}
    {#    <script src="{% static 'js/jquery.printPage.js' %}" type="text/javascript"></script>#}
    {##}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $(".btnPrint").printPage({#}
    {#                message: 'Создание документа для печати. Подождите! '#}
    {#            });#}
    {#        });#}
    {#    </script>#}

{% endblock jq %}