{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <h3 class="text-center">{{ title }}</h3>
    <div class="col-md-offset-1 col-md-10">
        <div class="media">
            <div class="media-left"><img src="{{ image_url }}" alt="аватар"></div>
            <div class="media-body">
            <form method='POST' action='{{ form_url }}' class="form-horizontal" enctype="multipart/form-data"> {% csrf_token %}
                {% bootstrap_form user_form layout='horizontal' %}
                {% bootstrap_form profile_form layout='horizontal' %}
                {% bootstrap_button 'Сохранить' icon="ok" button_type="submit" button_class="btn-success" extra_classes="pull-right" %}
            </form>
            </div>
        </div>
    </div>
{% endblock content %}