{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h3 class="text-center">Профиль клиента</h3>
    {% if bad_profile %}
    <div class="alert alert-danger" role="alert"> <strong>Внимание!</strong> Вы не можете совершать заказы, т.к. у вас не полностью заполнен профиль. </div>
    {% endif %}
    <div class="jumbotron">
        <p class="pull-right"><a class="btn btn-lg btn-success" href="{% url 'client:profile_update' %}" title2="О вас, кроме дисконта ;)" role="button">Изменить информацию</a></p>
        <img src="{{ user.profile.image|thumbnail_url:'prof_thumb' }}" alt="Изображение {{ user.get_full_name }}" class="pull-left image-profile">
        <h2>{{ user.get_full_name }}</h2>
        <table>
            <tr>
                <td><p class="lead">Компания:</p></td>
                <td><p class="lead"><strong>{{ user.profile.company }}</strong></p></td>
            </tr>
            <tr>
                <td><p class="lead">Телефон для связи:&nbsp;&nbsp;</p></td>
                <td><p class="lead"><strong>{{ user.profile.phone }}</strong></p></td>
            </tr>
            <tr>
                <td><p class="lead">Адрес:</p></td>
                <td><p class="lead"><strong>{{ user.profile.city }}, {{ user.profile.address }}</strong></p></td>
            </tr>
                       <tr>
                <td><p class="lead">Ваш текущий <br>дисконт:</p></td>
                <td><p class="lead"><strong>{{ user.profile.discount }} %</strong></p></td>
            </tr>
        </table>
    </div>

    <div class="row marketing">
        <div class="col-md-offset-3 col-lg-4"><p>Логин в системе:</p><h4>{{ user.username }}</h4></div>
        <div class="col-lg-3"><p>Email:</p><h4>{{ user.email }}</h4></div>
    </div>
{% endblock %}
{% block jq %}
{% endblock jq %}