{% extends 'base.html' %}{% load static %}
{% load bootstrap3 %}

{% block content %}
    <h3 class="text-center">Регистрация нового пользователя</h3>
    <hr>
    <div class="col-xs-offset-3 col-xs-6">
        <form method='POST' action='' class="form-horizontal" autocomplete="off"> {% csrf_token %}
            {% bootstrap_form form show_label=True layout='horizontal' %}
            {% bootstrap_form form_phone show_label=True layout='horizontal' %}
            {% bootstrap_button "Зарегистрировать" icon="ok" button_type="submit" button_class="btn-success" extra_classes="pull-right" %}
            <div class="politika">Нажимая на кнопку вы соглашаетесь <br>с <a target="_blank" href="https://fasad.biz/_media/politika.pdf">политикой
                конфиденциальности</a></div>
        </form>
    </div>
{% endblock %}

{% block top_js %}
    <script src='{% static "js/jquery.maskedinput.min.js" %}'></script>
{% endblock top_js %}

{% block top_adding %}
    {% include 'landing/metrika.html' %}
{% endblock top_adding %}

{% block jq %}
    <script>
        $("#id_phone").mask("+7(999)999-99-99");
    </script>
{% endblock jq %}

