{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">{{ title }}</h3>
    <form action="{% url 'client:search' %}">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Вот в этой строке" name="q">
            <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i>&nbsp; Искать</button>
        </div>
    </form>
    {% if products %}
        <table class="table table-striped">
            <tr class="warning">
                <th class="text-center">#</th>
                <th>Изображение</th>
                <th>Название изделия</th>
                <th>Заказано (раз)</th>
                <th class="text-center">Стоимость</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td class="text-center num">{{ forloop.counter }}</td>
                    <td><a href="{{ product.get_client_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-responsive"
                                                                    style="height: 75px"></a></td>
                    <td><a href="{{ product.get_client_url }}#">{{ product.title }}</a></td>
                    <td class="text-center">{{ product.orderitem_set.count }}</td>
                    <td class="text-center">{{ product.price }} <i class="glyphicon glyphicon-ruble"></i></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3 class="text-center">По заданному запросу изделия отсутсвуют</h3>
    {% endif %}
{% endblock %}
{% block jq %}
{#    {% include 'client/js_add_to_cart.html' %}#}
{% endblock jq %}